html,
body,
.container {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu';
  background: #FFEDD3;
  color: #FF5C58;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
    text-align: center;
}